In [6]:
import pandas as pd
import torch
import numpy as np

## Data Preprocessing

In [7]:
train = pd.read_csv('../Data/UserRec/rating_train.csv')
valid = pd.read_csv('../Data/UserRec/rating_validation.csv')
test = pd.read_csv('../Data/UserRec/rating_test.csv')

In [20]:
train_table = train.pivot_table(index='userId', columns='movieId', values='rating')
train_table

movieId,1,2,3,5,6,7,9,10,11,12,...,159093,164179,166528,168250,168252,174055,176371,177765,179819,187593
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,3.0,5.0,NaN,5.0,5.0,NaN,NaN,NaN,NaN,NaN

In [9]:
test_table = test.pivot_table(index='userId', columns='movieId', values='rating')
test_table

movieId,1,2,3,5,6,7,10,11,12,15,...,142488,148626,152077,152081,157296,159093,164179,166528,168252,179819
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN

In [10]:
movie_mean = train_table.mean()
movie_mean

movieId
1         3.974286
2         3.427778
3         3.255556
5         3.024390
6         3.929412
            ...
174055    3.423077
176371    3.750000
177765    3.416667
179819    3.500000
187593    3.800000
Length: 2121, dtype: float64

In [11]:
train_avg_fill = train_table.fillna(movie_mean)
train_avg_fill

movieId,1,2,3,5,6,7,9,10,11,12,...,159093,164179,166528,168250,168252,174055,176371,177765,179819,187593
userId,,,,,,,,,,,,,,,,,,,,,
1,4.000000,3.427778,4.000000,3.02439,4.000000,3.177778,3.107143,3.466667,3.652542,2.5625,...,3.428571,4.022727,3.95,3.607143,4.26087,3.423077,3.75,3.416667,3.5,3.8
2,3.974286,3.427778,3.255556,3.02439,3.929412,3.177778,3.107143,3.466667,3.652542,2.5625,...,3.428571,4.022727,3.95,3.607143,4.26087,3.423077,3.75,3.416667,3.5,3.8
3,3.974286,3.427778,3.255556,3.02439,3.929412,3.177778,3.107143,3.466667,3.652542,2.5625,...,3.428571,4.022727,3.95,3.607143,4.26087,3.423077,3.75,3.416667,3.5,3.8
4,3.974286,3.427778,3.255556,3.02439,3.929412,3.177778,3.107143,3.466667,3.652542,2.5625,...,3.428571,4.022727,3.95,3.607143,4.26087,3.423077,3.75,3.416667,3.5,3.8
5,3.974286,3.427778,3.255556,3.02439,3.929412,3.177778,3.107143,3.466667,3.652542,2.5625,...,3.428571,4.022727,3.95,3.607143,4.26087,3.423077,3.75,3.416667,3.5,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.500000,3.427778,3.255556,3.02439,3.929412,3.177778,3.107143,3.466667,2.500000,2.5625,...,3.428571,4.022727,3.95,3.607143,4.26087,3.423077,3.75,3.416667,3.5,3.8
607,4.000000,3.427778,3.255556,3.02439,3.929412,3.177778,3.107143,3.466667,3.652542,2.5625,...,3.428571,4.022727,3.95,3.607143,4.26087,3.423077,3.75,3.416667,3.5,3.8
608,2.500000,2.000000,3.255556,3.02439,3.929412,3.177778,3.107143,4.000000,3.652542,2.5625,...,3.428571,4.022727,3.95,3.607143,4.26087,3.423077,3.75,3.416667,3.5,3.8
609,3.000000,3.427778,3.255556,3.02439,3.929412,3.177778,3.107143,3.466667,3.652542,2.5625,...,3.428571,4.022727,3.95,3.607143,4.26087,3.423077,3.75,3.416667,3.5,3.8
610,5.000000,3.427778,3.255556,3.02439,5.000000,3.177778,3.107143,3.466667,3.652542,2.5625,...,3.000000,5.000000,3.95,5.000000,5.00000,3.423077,3.75,3.416667,3.5,3.8

In [12]:
import scipy.sparse.linalg as sla
U, S, V = sla.svds(train_avg_fill.to_numpy(), k=5)
# U, S, V = np.linalg.svd(train_avg_fill, full_matrices=False)

U.shape, S.shape, V.shape

((608, 5), (5,), (5, 2121))

In [13]:
rating_hat_svd = pd.DataFrame(U.dot(np.diag(S)).dot(V), index=train_table.index, columns=train_table.columns)
rating_hat_svd

movieId,1,2,3,5,6,7,9,10,11,12,...,159093,164179,166528,168250,168252,174055,176371,177765,179819,187593
userId,,,,,,,,,,,,,,,,,,,,,
1,4.300452,3.571215,3.465611,3.121505,4.066646,3.270388,3.162101,3.537795,3.722770,2.611431,...,3.460379,4.074908,3.972873,3.623153,4.321035,3.530005,3.834063,3.473022,3.587518,3.836080
2,3.965650,3.426945,3.254993,3.027813,3.930104,3.179177,3.108605,3.469403,3.657179,2.566144,...,3.429482,4.024593,3.951776,3.608948,4.262222,3.418126,3.748675,3.415725,3.497591,3.801226
3,3.928969,3.426830,3.233969,3.015313,3.919441,3.150855,3.090178,3.505553,3.650476,2.559769,...,3.407699,3.996506,3.935214,3.587564,4.231940,3.388216,3.713173,3.396671,3.474757,3.774202
4,3.938105,3.299268,3.236504,3.020118,3.900940,3.191719,3.110811,3.431941,3.617828,2.554367,...,3.428248,4.026593,3.928653,3.605687,4.265009,3.400778,3.761094,3.390869,3.470251,3.808670
5,3.947456,3.394174,3.240750,3.021619,3.920893,3.178373,3.109313,3.468222,3.646452,2.562202,...,3.432139,4.026257,3.951045,3.612065,4.264319,3.415271,3.751588,3.412719,3.492526,3.805632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,3.977969,3.361626,3.238261,3.005878,3.888173,3.211201,3.118615,3.294475,3.615175,2.541222,...,3.454113,4.056467,3.955322,3.632875,4.297632,3.461753,3.804884,3.429794,3.517901,3.836895
607,4.077525,3.499990,3.362884,3.099039,4.013268,3.210239,3.129586,3.596113,3.722045,2.613128,...,3.423394,4.029076,3.950237,3.597357,4.265653,3.410876,3.744931,3.415197,3.503393,3.793356
608,3.177097,3.340925,2.628582,2.705825,3.634920,2.911648,3.016721,3.415705,3.515043,2.427568,...,3.488664,3.994867,4.101642,3.723660,4.230316,3.386771,3.646825,3.483265,3.488309,3.835197
609,3.924542,3.395910,3.226975,3.015160,3.908441,3.175091,3.105838,3.437494,3.644628,2.558816,...,3.431677,4.026036,3.951851,3.613383,4.263199,3.410861,3.748753,3.411667,3.489919,3.805184
610,4.246273,3.730595,3.358404,3.029709,4.032689,3.191098,3.131468,3.534508,3.701156,2.564545,...,3.477751,4.061532,4.030413,3.648586,4.311851,3.604384,3.821525,3.539594,3.653686,3.835253

### RMSE

In [14]:
valid

       userId  movieId  rating
0           1      110     4.0
1           1      356     4.0
2           1      362     5.0
3           1      500     3.0
4           1      552     4.0
...       ...      ...     ...
15919     610   135536     2.5
15920     610   139385     4.5
15921     610   139644     4.5
15922     610   152077     4.0
15923     610   166528     4.0

[15924 rows x 3 columns]

In [15]:
valid_table = valid.pivot_table(index='userId', columns='movieId', values='rating')

In [16]:
# movie_inter = valid_table.columns.intersection(rating_hat_svd.columns)

In [17]:
def rmse(test, pred):
    error_df = test - pred
    count = np.sum(error_df.count())
    return np.sqrt(np.sum(np.sum((error_df)**2)) / count)

print('RMSE for SVD:', rmse(valid_table, rating_hat_svd))

RMSE for SVD: 0.9042383131127262

### Save prediction table

In [18]:
rating_hat_svd.to_csv('../Data/UserRec/Prediction/rating_hat_svd.csv')