# Movie Recommendation

In [3]:
from sklearn.manifold import TSNE
import pandas as pd
import numpy as np

In [4]:
movies = pd.read_csv('../Data/t-SNE/norm_sample_movies.csv')
title = pd.read_csv('../Data/t-SNE/title.csv')

In [5]:
movies_features = movies.drop(columns=['primaryTitle', 'tconst'])

## t-SNE

In [6]:
# movies_np = movies.to_numpy(dtype='uint8')
movies_np = np.array(movies_features)

In [7]:
tsne_data = TSNE(n_components=1, learning_rate='auto', init='random').fit_transform(movies_np)

In [8]:
movies['tsne_score'] = tsne_data

In [9]:
movies.sort_values(by=['tsne_score'], inplace=True)
movies

,tconst,primaryTitle,startYear,averageRating,numVotes,War,Romance,Animation,Music,Drama,...,Talk-Show,Biography,Family,Mystery,Comedy,Action,History,News,Documentary,tsne_score
12,tt0021749,City Lights,-0.701935,0.213640,0.016490,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,-130.288895
27,tt0027977,Modern Times,-0.652915,0.213640,0.038282,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,-130.283051
41,tt0032599,His Girl Friday,-0.613699,0.129303,-0.031557,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,-130.273865
45,tt0033045,The Shop Around the Corner,-0.613699,0.165447,-0.041415,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,-130.273026
103,tt0045061,The Quiet Man,-0.496052,0.117255,-0.039194,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,-130.233429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,tt0097223,Time of the Gypsies,-0.143111,0.165447,-0.042279,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,136.841187
569,tt0085794,The King of Comedy,-0.201935,0.129303,-0.014691,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,136.895828
353,tt0070334,The Long Goodbye,-0.290170,0.093158,-0.042073,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,136.964279
356,tt0070510,Paper Moon,-0.290170,0.165447,-0.035811,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,136.984665
363,tt0070735,The Sting,-0.290170,0.189544,0.045979,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,137.002151

In [10]:
movies_sorted = movies[['tconst', 'primaryTitle']].copy()
movies_sorted

        tconst                primaryTitle
12   tt0021749                 City Lights
27   tt0027977                Modern Times
41   tt0032599             His Girl Friday
45   tt0033045  The Shop Around the Corner
103  tt0045061               The Quiet Man
..         ...                         ...
863  tt0097223         Time of the Gypsies
569  tt0085794          The King of Comedy
353  tt0070334            The Long Goodbye
356  tt0070510                  Paper Moon
363  tt0070735                   The Sting

[5697 rows x 2 columns]

In [11]:
movies_sorted.reset_index(drop=True, inplace=True)
movies_sorted

         tconst                primaryTitle
0     tt0021749                 City Lights
1     tt0027977                Modern Times
2     tt0032599             His Girl Friday
3     tt0033045  The Shop Around the Corner
4     tt0045061               The Quiet Man
...         ...                         ...
5692  tt0097223         Time of the Gypsies
5693  tt0085794          The King of Comedy
5694  tt0070334            The Long Goodbye
5695  tt0070510                  Paper Moon
5696  tt0070735                   The Sting

[5697 rows x 2 columns]

In [12]:
movies_sorted.to_csv('tsne_sorted_move.csv')

### t-SNE recommend processing

In [13]:
movies_sorted.shape[0]

5697

In [14]:
def tSNE_recommend(title, sorted_movies_df, n=10):
    movie_index = sorted_movies_df.index[sorted_movies_df['primaryTitle'] == title].tolist()
    
    if movie_index:
        movie_index = movie_index[0]

        len = movies_sorted.shape[0]
        if n > len-2:
            return 'Range out of list'

        front = movie_index - n//2 
        back = movie_index + n//2 

        if front < 0:
            back += -front
            front = 0
        elif back > len-1:
            front -= back - (len-1)
            back = len-1
        print('Recommend Movies:')
        for i in range(front, back):
            if i != movie_index:            
                print(sorted_movies_df.at[i, 'primaryTitle'])
    
    else:
        return 'Can\'t Find this Movie'

In [15]:
searching_movie = 'Avengers: Age of Ultron'

tSNE_recommend(searching_movie, movies_sorted)

Recommend Movies:
Iron Man
Star Wars: Episode VII - The Force Awakens
Captain America: The Winter Soldier
The Hunger Games
Captain America: Civil War
X-Men: Days of Future Past
Iron Man 3
Edge of Tomorrow
Jurassic Park